{% extends 'Accounts/baseWithoutLogIn.html'%}
{%load crispy_forms_tags %}
{%block title %} Log In {% endblock %}
{%block title1 %} Log In {% endblock %}
{%block content %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy}}
                <button type="submit" class = "btn btn-success">Login</button>
            </form>
            <div class="border-top pt-3">
                <small clas = "tex-muted">
                    Don't have an account? &nbsp; <a href="{% url 'Accounts:register' %}">Register</a>
                </small>
            </div>
{% endblock %}