{% extends 'Application/base.html' %}
{% block title %} Student Details {% endblock %}
{% block title1 %} Student Details {% endblock %}

{% block content %}

<div class="card">
  <img src="{{student.stud_img.url}}" alt="{{student.first_name}}'s Photo" width="100%">
  <h1>{{student.firstName}} &nbsp; {{student.lastName}}</h1>
  <p class="title">{{student.ID}}</p>
  <br>
  <a href="{% url 'Application:department'%}{{student.dept_name.pk}}/">{{student.dept_name.pk}}</a>
  <br><b>Total Credits: </b> {{student.tot_cred}}
</div>

<!--<div class="container-fluid">-->
<!--<img src = '{{student.stud_img.url}}' width="50%" height="50%" alt="Img Not Found" align="center"> <br>-->

<!--<b>Name: </b> <p>{{student.firstName}} &nbsp; {{student.lastName}}</p>-->
<!--<br>-->
<!--<b>Department: </b> <a href="{% url 'Application:department'%}{{student.dept_name.pk}}/">{{student.dept_name.pk}}</a>-->
<!--<br>-->
<!--<b>Total Credits: </b> {{student.tot_cred}}-->
<!--<br>-->
<!--&lt;!&ndash;<a href= "{%url 'Application:all-views' %}">Go to Application</a>&ndash;&gt;-->
<!--</div>-->
{% endblock %}